body{

box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;

}

h1 {

    font-weight:500;
    font-size: 50px;
}


h4{

font-weight: 100;
line-height: 1.4em;
justify-content: center;
letter-spacing: 0.02em;
font-size: 1.1em;

}

h5{
    font-weight: bold;
    font-size: 16px;


}

h6{

    font-weight: bold;
    font-size: 12px;

   
}

li{
    font-weight: 100;
    font-size: 1.1em;

}

header .logo img{

height: 100px;
margin-top: 12px;
margin-bottom: 12px;
justify-content: center;

}

menu, ul, li, a{

list-style-type: none;
text-decoration: none;
display: flex;
margin-right: 12px;
color: white;
}




header{
display: flex;
justify-content: space-between;
align-items: center;
background-color:rgb(138, 121, 61);

}

main {

display: flex;
justify-content:space-between;
}


.mn-img img{

width: 100%;
height: auto;
position:absolute;
z-index: -1;

}


main .card{
width: 600px;
height: auto;
position:absolute;
color: white;
justify-content:space-around;
margin-left: 36px;
margin-top: 64px;
background-color: rgb(8, 25, 23);
opacity: 70%;
border-radius:8px; 
display: flex;
background-color: rgb(10, 10, 10);
flex-direction: column;
}


.card h1, h4{

padding: 12px;
display: flex;

}

.card-2 img{

width: 100px;
height: 100px;
display: none;


}

.card-2{


width: 100px;
height: 100px;
display: flex;
    
}

.text{

width: 900px;
color:white;
font-weight: 600;
font-size: 24px;
letter-spacing: 1px;
}


.shop{

    display: flex;
    width: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
    
}


.shop img{

width: 200px;
height:200px;

}

.shop h4{

text-align: center;
justify-content: center;

}

.img-1{


    width: 400px;
    text-align: center;
    align-items: center;

}


section h1{


    text-align: center;
}

