body{

box-sizing: border-box;
margin: 0;
padding: 0;

}

header .logo img{

height: 100px;
margin-top: 12px;
margin-bottom: 12px;
justify-content: center;

}

menu, ul, li, a{

list-style-type: none;
text-decoration: none;
display: flex;
margin-right: 12px;
color: white;
}


header{
display: flex;
justify-content: space-between;
align-items: center;
background-color:rgb(138, 121, 61);
}

main{

    display: flex;
    justify-content: flex-start;

}


main img{

width: 100%;
height: 700px;
position:absolute;
z-index: -1;

}


main .card{

width: 500px;
height: 500px;
position:absolute;
color: white;
justify-content:flex-start;
margin-left: 36px;
margin-top: 56px;
background-color: rgb(8, 25, 23);
opacity: 58%;
border-radius: 8px;
display: flex;
flex-direction: column;
}


main .card h1, h4{

justify-content: center;
padding: 12px;

}