

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow:hidden;
    padding: 0;
}




.logo{

width: 200px;

}

.logo img{
width:200px;

}

nav{

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    margin-right: 36px;
  

}




nav, menu, ul, li, a{

list-style-type: none;
display: flex;
margin-left: 1.5em;
align-items: center;
text-decoration: none;
font-weight: 300;


}

.mn-text{

width:500px;
font-weight: 300;
font-style: italic;
justify-content: center;


}



section {

display: flex;
justify-content:space-between;
align-items: center;
background-color:aliceblue;
box-shadow: inset;
margin: 24px;

}




.mn-text h1{

font-weight: 700;
font-style: normal;
font-size: 48px;


}
